.info_tree
  %img(src="/assets/trees/summer_tree.jpg")
.info_content
  %p{:class => "p1"}
    Joyful Calendar is a really awesome website, <br />
    and you should consider using it for your <br />
    calendaring purposes!
  %p{:class => "p2"}
    For one thing, it has just as many days as a <br />
    normal calendar, but with totally great <br />
    backgrounds that are way more cheerful to <br />
    look at than boring blue or grey, or whatever is <br />
    professional now.
  %p{:class => "p3"}
    For another thing, you are able to add text <br />
    anywhere, move it around, and stick little <br />
    stickers on there. Updating your calendar can <br />
    totally be an  expression of creativity! Do you <br /> 
    feel creative when using google calendars? I <br />
    think not.
  %h3{:class => "info_content"}
    Our Pricing Options
.price_options_wrapper
  .option1
    %h3{:class => "info_h3"}
      Free
    %p{:class => "info_content"}
      This option is free, 
      because you are totally 
      awesome and deserve a 
      free calendar. <br /><br />
    .signup_button
      %a{:href => "/users/new", :class => "info_button"}   
        Sign Up Now!
  .option2
    %h3{:class => "info_h3"}
      Free
    %p{:class => "info_content"}
      This option is also free,
      because why not? You're
      just great! <br /><br />
    .signup_button
      %a{:href => "/users/new", :class => "info_button"}
        Sign Up Now!
  .option3
    %h3{:class => "info_h3"}
      Free
    %p{:class => "info_content"}
      Again, this opion is free,
      but you should really
      consider going to the
      sign up page through this.
    .signup_button
      %a{:href => "/users/new", :class => "info_button"}
        Sign Up Now!

