.calendar_show{data: {id: @calendar.id}}
  %audio.click_1
    %source{src: "/assets/sounds/clack_1.wav", controls: "controls"}
  %audio.click_2
    %source{src: "/assets/sounds/clack_2.wav", controls: "controls"}
  %audio.click_3
    %source{src: "/assets/sounds/clack_3.wav", controls: "controls"}
  .svg_trees
    = image_tag "trees/summer_tree.jpg"
  .calendar
    .title
      = @calendar.name
    .month_year
      .backward
      .forward
      .month
        Month
      .year
        Year
    .day_grid
      .day_names
        .day_name.sun
          .name
            Sun
        .day_name.mon
          .name
            Mon
        .day_name.tue
          .name
            Tue
        .day_name.wed
          .name
            Wed
        .day_name.thur
          .name
            Thur
        .day_name.fri
          .name
            Fri
        .day_name.sat
          .name
            Sat
      .week.week_1
        .day.sun
          .num
        .day.mon
          .num
        .day.tue
          .num
        .day.wed
          .num
        .day.thur
          .num
        .day.fri
          .num
        .day.sat
          .num
      .week.week_2
        .day.sun
          .num
        .day.mon
          .num
        .day.tue
          .num
        .day.wed
          .num
        .day.thur
          .num
        .day.fri
          .num
        .day.sat
          .num
      .week.week_3
        .day.sun
          .num
        .day.mon
          .num
        .day.tue
          .num
        .day.wed
          .num
        .day.thur
          .num
        .day.fri
          .num
        .day.sat
          .num
      .week.week_4
        .day.sun
          .num
        .day.mon
          .num
        .day.tue
          .num
        .day.wed
          .num
        .day.thur
          .num
        .day.fri
          .num
        .day.sat
          .num
      .week.week_5
        .day.sun
          .num
          .divider
          .split_num
        .day.mon
          .num
          .divider
          .split_num
        .day.tue
          .num
          .divider
          .split_num
        .day.wed
          .num
          .divider
          .split_num
        .day.thur
          .num
          .divider
          .split_num
        .day.fri
          .num
          .divider
          .split_num
        .day.sat
          .num
          .divider
          .split_num
