//info page styling
.info_tree img
  height: 375px
  float: left
  margin-left: 50px
  margin-right: 100px
.info_content
  font-size: 20px
.price_options_wrapper 
  width: 100%
  position: relative   
.price_options_wrapper:before, .price_options_wrapper:after
  content: ''
  display: table
.price_options_wrapper:after
  clear: both
.option1, .option1:before
  width: 25%
.option1
  padding: 1%
  float: left
  margin-left: 3px
  margin-right: 84px
.option1:before
  content: ''
  position: absolute
  top: 0
  bottom: 0
  z-index: -1
  left: 0
  border: solid #F7EF22
  background-color: #CAE5F8
  opacity: .8
  padding: 1%
.option2, .option2:before
  width: 25%
.option2
  padding: 1%
  float: left
  margin-left: 3px
  margin-right: 83px
.option2:before
  content: ''
  position: absolute
  top: 0
  bottom: 0
  z-index: -1
  left: 36%
  border: solid #F7EF22
  background-color: #F5A3A5
  opacity: .8
  padding: 1% 
.option3, .option3:before
  width: 25%
.option3
  padding: 1%
  float: left
  margin-left: 3px
.option3:before
  content: ''
  position: absolute
  top: 0
  bottom: 0
  z-index: -1
  left: 72%
  border: solid #F7EF22
  background-color: #CFDE43
  opacity: .8
  padding: 1%
.info_h3
  margin-top: 7px
.signup_button
  text-align: right 
  padding-bottom: 7px
a.info_button
  background-color: #fafafa
  border: solid black 1px
  padding: 5px
  font-weight: 300 
  box-shadow: 2px 2px 2px #888888
a.info_button:hover
  background-color: white 
  color: #ff6699
//end info page styling
.calendar_show
  .svg_trees
    z-index: -1
    position: absolute
    top: 80px
  .calendar
    .cal_info
      float: left
      margin-top: -20px
      margin-bottom: 20px
    .title
      float: left
      font-size: 24px
      font-weight: 100
      color: #666
      letter-spacing: 1px
    .month_year
      float: left
      font-style: italic
      font-size: 18px
      color: #666
      margin-left: 10px
      margin-top: 4px
      .month
        float: left
        margin: 0px
      .year
        float: left
        margin: 0px 5px 0px 5px
    .day_grid
      float: left
      clear: left
      margin: 55px 8px 0px
      width: 960px
      .day
        height: 124px
      .used
        cursor: pointer
      .day_name
        height: 30px
        color: #666
      .day, .day_name
        margin: 5px
        width: 124px
        float: left
        background-color: rgba(255, 255, 255, 0.8)
        box-shadow: 1px 1px 1px #eee
        overflow: hidden
        &.has_notes
          background-color: rgba(255, 255, 255, 0.92)
        .num
          width: 18px
          height: 18px
          float: left
          padding-top: 2px
          padding-right: 2px
          background-color: #fff
          color: #666
          font-size: 14px
          text-align: center
          box-shadow: 1px 1px 1px #ccc
          margin-right: 5px
        .notelets
          font-size: 10px
          letter-spacing: 1px
          float: left
          font-style: italic
          font-weight: 100
          margin: 2px
          &.first
            width: 90px
          &.elip
            width: 100%
            font-size: 16px
            text-align: center
            margin-left: 0px
      .week_5
        .divider
          display: none
          width: 178px
          @include transform(rotate(-40deg) translateY(29px) translateX(-52px))
        .split_num
          display: none
          float: right
          margin-top: 111px
          width: 18px
          height: 18px
          padding-bottom: 2px
          padding-left: 2px
          background-color: white
          font-size: 14px
          text-align: center
          box-shadow: 1px 1px 1px #ccc
        .split
          .divider, .split_num
            display: block
      .day_names
        height: 30px
        .day_name
          text-align: center
          .name
            margin-top: 5px

.backward_arrow
  float: left
  height: 30px
  @include triangle(15px, gray, left)
  margin: 4px 5px 0px 0px
  cursor: pointer
.forward_arrow
  float: left
  height: 30px
  @include triangle(15px, gray, right)
  margin: 4px 0px 0px 0px
  cursor: pointer
.winter
  .calendar_show
    .calendar
      .day_grid
        .day
          &.used:hover
            background-color: rgba(224, 240, 255, 0.8)
          &.used.has_notes:hover
            background-color: rgba(224, 240, 255, 0.92)
.spring
  .calendar_show
    .calendar
      .day_grid
        .day
          &.used:hover
            background-color: rgba(224, 255, 194, 0.8)
          &.used.has_notes:hover
            background-color: rgba(224, 255, 194, 0.92)
.summer
  .calendar_show
    .calendar
      .day_grid
        .day
          &.used:hover
            background-color: rgba(255, 224, 240, 0.8)
          &.used.has_notes:hover
            background-color: rgba(255, 224, 240, 0.92)
.autumn
  .calendar_show
    .calendar
      .day_grid
        .day
          &.used:hover
            background-color: rgba(255, 219, 184, 0.8)
          &.used.has_notes:hover
            background-color: rgba(255, 219, 184, 0.92)
