.calendar_show
  .svg_trees
    z-index: -1
    position: absolute
    top: 90px
  .calendar
    .title
      float: left
      font-size: 24px
      color: #666
      letter-spacing: 1px
    .month_year
      float: left
      font-style: italic
      font-size: 18px
      color: #666
      margin: 3px 10px
      .month
        float: left
        margin: 0px
      .year
        float: left
        margin: 0px 5px 0px 5px
      .backward
        float: left
        height: 30px
        @include triangle(15px, gray, left)
        margin: 4px 5px 0px 0px
        cursor: pointer
      .forward
        float: left
        height: 30px
        @include triangle(15px, gray, right)
        margin: 4px 0px 0px 0px
        cursor: pointer
    .day_grid
      float: left
      clear: left
      margin: 40px 8px 0px
      width: 960px
      .day
        height: 124px
        &.used:hover
          background-color: rgba(255, 224, 240, 0.8)
        &.used.has_notes:hover
          background-color: rgba(255, 224, 240, 0.92)
      .used
        cursor: pointer
      .day_name
        height: 30px
        color: #666
      .day, .day_name
        margin: 5px
        width: 124px
        float: left
        background-color: rgba(255, 255, 255, 0.8)
        box-shadow: 1px 1px 1px #eee
        overflow: hidden
        &.has_notes
          background-color: rgba(255, 255, 255, 0.92)
        .num
          width: 18px
          height: 18px
          float: left
          padding-top: 2px
          padding-right: 2px
          background-color: #fff
          color: #666
          font-size: 14px
          text-align: center
          box-shadow: 1px 1px 1px #ccc
          margin-right: 5px
        .notelets
          font-size: 10px
          letter-spacing: 1px
          float: left
          font-style: italic
          font-weight: 100
          margin: 2px
          &.first
            width: 90px
          &.elip
            width: 100%
            font-size: 16px
            text-align: center
            margin-left: 0px
      .week_5
        .divider
          display: none
          width: 178px
          @include transform(rotate(-40deg) translateY(29px) translateX(-52px))
        .split_num
          display: none
          float: right
          margin-top: 111px
          width: 18px
          height: 18px
          padding-bottom: 2px
          padding-left: 2px
          background-color: white
          font-size: 14px
          text-align: center
          box-shadow: 1px 1px 1px #ccc
        .split
          .divider, .split_num
            display: block
      .day_names
        height: 30px
        .day_name
          text-align: center
          .name
            margin-top: 5px
